<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipmentItems">
   <span *ngIf = "equipmentBeingEdited !== item; else elseBlock">
   <span (click) = "edit(item)">{{item}}</span></span>  
   <button (click) = "removeEquipment(item)">Remove</button>
  </li>

<ng-template #elseBlock>

  <input #updatedName (keyup.enter)="updateEquipment(updatedName.value, equipmentBeingEdited)" value = "{{equipmentBeingEdited}}"/>
  <button (click)="updateEquipment(updatedName.value, equipmentBeingEdited)">save</button>
</ng-template>


  <input #userInput (keyup.enter) = "addEquipment(userInput.value)" type = "text"/> <button (click) = "addEquipment(userInput.value)">Add</button>
</ul>